{% extends 'base.html.twig' %}


{% block title %}{{ parent() }}Panneau d'administration{% endblock %}


{% block stylesheets %}
    <style>
        nav#admin-dashboard a {
            color: white;
            text-decoration: none;
        }
        nav#admin-dashboard a:hover {
            color: white;
            text-decoration: underline;
            text-decoration-style: revert;
            text-underline-offset:.6ex;
            text-underline-color: #AAAAAA;
        }
    </style>
{% endblock %}


{% block body %}
    <h1>Panneau d'administration</h1>


    <nav id="admin-dashboard" class="d-inline-flex">
        <div class="card text-white bg-primary m-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Gestion des utilisateur</h5></div>
            <div class="card-body">
                <!--<h5 class="card-title">Primary card title</h5>-->
                <p class="card-text text-white">
                    <ul>
                        <li><a href="{{ path('app_register') }}">Inscrire un nouvel utilisateur</a></li>
                        <li><a href="{{ path('utilisateur_index') }}"><h6>Consulter la liste</h6>
                                <ul>
                                    <li>Rechercher</li>
                                    <li>Modifier des information</li>
                                    <li>Modifier le statut Administrateur</li>
                                    <li>Changer l'état (actif/inactif)</li>
                                </ul>
                            </a></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary m-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Gestion des <em>villes</em> et des <em>lieux</em></h5></div>
            <div class="card-body">
                <!--<h5 class="card-title">Primary card title</h5>-->
                <p class="card-text text-white">
                <ul>
                    <li><a href="{{ path('ville_new') }}">Ajouter une ville</a></li>
                    <li><a href="{{ path('lieu_new') }}">Ajouter un lieu (correspondant à une <em>ville</em>)</a></li>
                    <li><a href="{{ path('ville_index') }}"><h6>Consulter la liste des villes</h6>
                            <ul>
                                <li>Rechercher</li>
                                <li>Modifier les détails</li>
                                <li>Supprimer une ville</li>
                            </ul>
                        </a></li>
                    <li><a href="{{ path('lieu_index') }}"><h6>Consulter la liste des lieux</h6>
                            <ul>
                                <li>Rechercher</li>
                                <li>Modifier les détails</li>
                                <li>Supprimer un lieu</li>
                            </ul>
                        </a></li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary m-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Gestion des Campus</h5></div>
            <div class="card-body">
                <!--<h5 class="card-title">Primary card title</h5>-->
                <p class="card-text text-white">
                <ul>
                    <li><a href="{{ path('campus_new') }}">Ajouter un campus</a></li>
                    <li><a href="{{ path('campus_index') }}"><h6>Consulter la liste</h6>
                            <ul>
                                <li>Rechercher</li>
                                <li>Modifier les détails</li>
                                <li>Supprimer un campus</li>
                            </ul>
                        </a></li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary m-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Gestion des sorties</h5></div>
            <div class="card-body">
                <!--<h5 class="card-title">Primary card title</h5>-->
                <p class="card-text text-white">
                <ul>
                    <li><a href="{{ path('sortie_new') }}">Ajouter une sortie</a></li>
                    <li><a href="{{ path('sortie_index') }}"><h6>Consulter la liste</h6>
                            <ul>
                                <li>Rechercher</li>
                                <li>Modifier les détails d'une sortie</li>
                                <li>Supprimer un sortie</li>
                            </ul>
                        </a></li>
                </ul>
                </p>
            </div>
        </div>

    </nav>
{% endblock %}
