{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Campus</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Roles</th>
                    <th>Administrateur</th>
                    <th>Actif</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.campus.nom }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                    <td>{{ utilisateur.administrateur ? 'Yes' : 'No' }}</td>
                    <td>{{ utilisateur.actif ? 'Yes' : 'No' }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateur_new') }}">Create new</a>
{% endblock %}
