<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {# Block parent sous la forme   "COMMUN | "    donc :
            dans les autres pages, après 'parent()', inutile d'ajouter un pipe | ou un espace ! #}
    <title>{% block title %}Sortir.com LDJ | {% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<header>
    {% include('inc/nav.html.twig') %}
</header>

<div id="__logoAndTitle">
    <div id="__title" style="float:left;"><p style="writing-mode:vertical-rl; text-orientation:sideways; transform: rotateY(180deg) rotateX(180deg) ;">Coucou.com</p></div>
    <div id="__logo" style=" width:50px; height:100px; border: 2px solid black; margin: 5px; overflow: hidden;">Coucou</div>
</div>

<div class="container" style="clear:both">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success col-xl-7 col-lg-6 col-md-5 col-sm-4 m-auto"><p>{{ message }}</p></div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger col-xl-7 col-lg-6 col-md-5 col-sm-4 m-auto"><p>{{ message }}</p></div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
