{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #__container {
            padding-top:50px;
        }

        #__container table tbody>tr>td:first-child {
            font-size: 1.3rem;
            font-variant: small-caps;
        }

        #__container table td {
            vertical-align: middle;
        }

        #__container table th {
            font-variant: small-caps;
            font-size: 1.2em;
            letter-spacing: 1px;
            text-align: center;
        }

        #__container table tr td:last-child {
            text-align: center;
        }

        #__container table a {
            text-decoration: none;
        }

        #__container table a:hover {
            text-decoration:underline;
        }

        .btn-info:first-child, .btn-outline-danger:first-child, .btn-secondary:first-child {
            margin-top: initial;
        }

        .btn-info, .btn-outline-danger, .btn-secondary {
            border-width: 2px;
            letter-spacing: 1pt;
            min-width: 8rem;
            max-width: 8rem;
            width: 8rem;
            margin-top: 1rem;
        }

        .filter-type input, .filter-type select {
            max-width: 30%;
        }



    </style>
{% endblock %}

{% block body %}
    <h1>😎 Qu'allez vous faire ce week-end ? <s>(ou cette semaine 😁)</s></h1>


    <div id="__container" class="container">
        <div class="filter-type">
            <div class="row">
                {{ form_start(form) }}
                <div class="col">
                    {{ form_row(form.keyword) }}
                    {# form_row(form.start) #}

                </div>
                <div class="col">
                    {{ form_row(form.lieu) }}
                    {{ form_row(form.owner) }}
                    {{ form_row(form.subscribed) }}
                    {{ form_row(form.passed) }}
                    {{ form_row(form.cancelled) }}
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div style="margin: 10px 0 10px;">
            <a class="btn-lg btn-primary" style="color:white; text-decoration:none;" href="{{ path('sortied_mesSorties') }}">Mes sorties</a>
        </div>
        {% include('sortie_dams/_tableSorties.html.twig') %}
    </div>
{% endblock %}

{% block title %}
Voir la liste des sorties
{% endblock %}

