{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #__container {
            padding-top:50px;
        }

        #__container table tbody>tr>td:first-child {
            font-size: 1.3rem;
            font-variant: small-caps;
        }

        #__container table td {
            vertical-align: middle;
        }

        #__container table th {
            font-variant: small-caps;
            font-size: 1.2em;
            letter-spacing: 1px;
        }

        #__container table a {
            text-decoration: none;
        }

        #__container table a:hover {
            text-decoration:underline;
            text-decoration-style: wavy;
        }

        .btn-outline-info {
            border-width: 2px;
            font-weight: bold;
        }

        .filter-type input, .filter-type select {
            max-width: 30%;
        }



    </style>
{% endblock %}

{% block body %}
    <h1>😎 Qu'allez vous faire ce week-end ? <s>(ou cette semaine 😁)</s></h1>


    <div id="__container" class="container">
        <div class="filter-type">
            <div class="row">
                {{ form_start(form) }}
                <div class="col">
                    {{ form_row(form.keyword) }}
                    {# form_row(form.start) #}

                </div>
                <div class="col">
                    {{ form_row(form.lieu) }}
                    {{ form_row(form.owner) }}
                    {{ form_row(form.subscribed) }}
                    {{ form_row(form.passed) }}
                    {{ form_row(form.cancelled) }}
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Sortie</th>
                    <th>Date/Heure</th>
                    <th>Etat</th>
                    <th>Organisateur</th>
                    <th>Lieu</th>
                    <th>Ville</th>
                    <th>Durée</th>
                    <th>Date limite d'inscription</th>
                    <th>S'inscrire</th>
                </tr>
            </thead>
            <tbody>
            {% for sortie in listeSorties %}
                <tr>
                    <td><a href="{{ path('sortied_details', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                    <td>le {{ sortie.dateHeureDebut | date('d/m/Y \à H:i') }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td><a href="#" title="Afficher profil">{{ sortie.orga.prenom }} {{ sortie.orga.nom }}</a></td>
                    <td>{{ sortie.lieu.nom }}</td>
                    <td>{{ sortie.lieu.ville.nom }}</td>
                    <td>{{ sortie.duree }} minutes</td>
                    <td>avant le {{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
                    <td>
                        {% if sortie.orga.id != app.user.id %}
                            <a href="{{ path('sortied_subscribe', {id: sortie.id}) }}" class="btn btn-outline-info">S'inscrire !</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('sortied_creer') }}" class="btn btn-outline-info col-1">Proposer une nouvelle sortie</a>
    </div>
{% endblock %}

{% block title %}
Voir la liste des sorties
{% endblock %}

