{% extends 'base.html.twig' %}

{% block title %}
Détails
{% endblock %}

{% block body %}
    <style>

    </style>
    <div class="row">
        <div class="col">
            <table class="table" id="__tb-sortie">
                <thead>
                    <h4 style="font-variant: small-caps">Détails de la sortie</h4>
                </thead>
                <tr>
                    <td>Sortie</td>
                    <td><a href="#">{{ sortie.nom }}</a></td>
                </tr>
                <tr>
                    <td>Date/Heure</td>
                    <td>le {{ sortie.dateHeureDebut | date('d/m/Y \à H:i') }}</td>
                </tr>
                <tr>
                    <td>Etat</td>
                    <td>{{ sortie.etat.libelle }}</td>
                </tr>
                <tr>
                    <td>Organisateur</td>
                    <td><a href="#" title="Afficher profil">{{ sortie.orga.prenom }} {{ sortie.orga.nom }}</a></td>
                </tr>
                <tr>
                    <td>Lieu</td>
                    <td>{{ sortie.lieu.nom }}</td>
                </tr>
                <tr>
                    <td>Ville</td>
                    <td>{{ sortie.lieu.ville.nom }}</td>
                </tr>
                <tr>
                    <td>Durée</td>
                    <td>{{ sortie.duree }} minutes</td>
                </tr>
                <tr
                ><td>Date limite d'inscription</td>
                    <td>avant le {{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
                </tr>
                {% if sortie.orga.id != app.user.id %}
                <tr>
                    <td>S'inscrire</td>
                    <td><a href="{{ path('sortied_subscribe', {id: sortie.id}) }}" class="btn btn-outline-info">S'inscrire !</a></td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="card m-3 col-3">
            <div class="card-header"><h4>Description de la sortie</h4></div>
            <div class="card-body">{{ sortie.infosSortie }}</div>
        </div>
        <div class="col">
            <table id="__tb-particip" class="table table-striped table-dark">
                <thead>
                    <h4 style="font-variant: small-caps">Participants</h4>
                </thead>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.nom }} {{ participant.prenom }}</td>
                        <td>{{ participant.campus.nom }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if sortie.orga.id == app.user.id %}
        <div class="alert alert-success"><p class="text-success">C'est votre sortie</p></div>
        <div>
            <a href="{{ path('sortied_ask_cancel', {'id': sortie.id}) }}" class="btn btn-outline-danger">Annuler la sortie</a>
        </div>
    {% endif %}
    <a href="{{ path('sortied_afficher') }}">Retour à la liste</a>
{% endblock %}

