<style>
.nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1em 0 1em;
}
.nav a {
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
}
</style>
<div class="container">

        <nav class="nav">
            <ul>
                <li><a href="{{ path('main_home') }}">Accueil</a></li>
                {% if app.user %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('admin_dashboard') }}">Panneau d'administration</a></li>
                        <li><a href="{{ path('app_register') }}">Inscrire un utilisateur</a></li>
                    {% endif %}
                    <li><a href="{{ path('sortied_afficher') }}">Afficher les sorties</a></li>
                    <li><a href="{{ path('sortied_participations') }}">Mes participations</a></li>
                    <li><a href="{{ path('utilisateur_profil_modifier') }}">Mon profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Logout ({{ app.user.prenom }} {{ app.user.nom }})</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Login</a></li>
                {% endif %}

            </ul>
        </nav>
</div>